@charset "UTF-8";

main{
	overflow-x: hidden;
	overflow-y:auto;
	height: 80vh;
	padding:25px;
}
.add_edit_form{
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 20px auto;
	width: 80%;
	box-shadow: 10px 10px lightgrey;	 
	background-color: AliceBlue;		
}
.container_botoes{
	display: flex;
	justify-content: space-between;
}
.container_botoes a{
	text-decoration: none;
	text-align: center;
	justify-content: center;
	line-height: 30px;
}
.add_edit_label:nth-child(n){
	margin: 5px 20px;
	width: 25%;
	height:30px;
	}

.add_edit_input:nth-child(n){
	margin:10px 20px;
	width: 35%;
	height: 40px;
	border-radius: 15px;
}
.add_edit_input_id{
	margin:10px 20px;
	width: 100px;
	height: 30px;
	border-radius: 5px;
}
.add_edit_btn{
	margin:15px auto;
	width: 25%;	
	font-size: 15px;
	padding: 1px 15px;
	border-radius: 5px;
	background-color: white;
	color: #125385;
	transition:0.5s;
	height: 35px;
}
.add_edit_btn:hover {	
	background-color: #125385;
	color: white;
}
.add_edit_btn_voltar {
	margin:15px auto;
	width: 25%;	
	border: 1px solid #125385;
	font-size: 15px;
	padding: 1px 15px;
	border-radius: 5px;
	background-color: white;
	color: #125385;
	transition:0.5s;
	height: 35px;	
}
.add_edit_btn_voltar a{
	text-decoration: none;	
}
.add_edit_btn_voltar:hover {	
	background-color: #125385;
	color: white;
}
.form_field{
	display:flex;
	flex-direction: row;	
}
.form_field p:nth-child(n){
	margin:0 auto;
}
p.error{
	color: red;
}
.input_error{
	border: 1px solid red;
}