@charset "UTF-8";

.dias_semana{		
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 5vh;
	margin-top: 25px;
	margin-bottom: 25px;
	gap:15px;
}
.navegacao_agenda	 {
	margin: 25px 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.container_dia_head{
	display:flex;
	border: 1px solid #125385;
	border-radius: 10px;
	height:100%;
	justify-content: center;
	align-items: center;
}  
.container_dia{
	
	border: 1px solid #125385;
	border-radius: 10px;
	height:80px;
	
}  
.dia{
	
}

.header{
	
	width: 20%;
	position: relative;
	left:5px;
	top:1px;
	
}
.data{
	width: 20%;
	
	position: relative;
	left:20px;
	top:40px;
}
.dom{
	grid-column:1/2;
}
.seg{
	grid-column:2/3;
}
.ter{
	grid-column:3/4;
}
.qua{
	grid-column:4/5;
}
.qui{
	grid-column:5/6;
}
.sex{
	grid-column:6/7;
}
.sab{
	grid-column:7/8;
}
.tooltip {
	position:relative;
	
}

.tooltip .tooltiptext {
	position:absolute;
	visibility: hidden;
	width: 120px;
	background-color: white;
	color: #125385;
	text-align: center;
	padding: 5px 0;
	border: 1px solid #125385;
	border-radius: 6px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	transition: 0.5s;
}