main {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.mensagem{
	position: relative;
}
.mensagem_sucesso{
	background-color: green;
	color: white;
}
.mensagem_erro{	
	background-color: red;
	color: white;
	
}

.page_clientes {
	margin: 20px;
	padding: 10px;
}
.teste{
	display:inline;
}
.input_paginas{
	
	margin:5px 5px;
	width: 50px;
	height: 40px;
	border-radius: 15px;
}
.label_paginas{
	margin: 5px;
	margin-top:2px;
}

.formulario {
	display:flex;
	margin-top: 20px;;
	width: 100%;
}

.cliente_form_itens {
	width:95%;
	margin: 0 auto;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.cliente_form_itens .input_id {
	width:50%;
	
}

.cliente_form_itens label, input, select {
	margin-right: 5px;
	width: 100%;
	height: 40px;
	border-radius: 5px;
}

.input_label {
	margin: 5px;
	font-size: 15px;
}

.input_style {
	margin: 5px;
	padding: 5px;
	font-size: 15px;
	border: 1px solid #125385;
	border-radius: 10px;
}

.btn {
	margin: 5px;
	font-size: 15px;
	padding: 1px 15px;
	border-radius: 5px;
	background-color: white;
	color: #125385;
	transition:0.5s;
	height: 35px;
	width:120px;
}
.btn:hover {	
	background-color: #125385;
	color: white;
}

.tabela {
	margin: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.add_button {
	display: flex;
	margin:5px;
	border: 1px solid #125385;
	border-radius : 5px; 	
	height:35px;	
	width:120px;		
	transition:0.3s;	
}
.add_button a {
	color: rgb(0,150,0);
	text-decoration: none;	
	text-align: center;
	line-height:35px;	
	height:50px;	
	margin: 0 auto;
	
}
.add_button:hover{
	background-color: rgb(0,150,9);
}
.add_button:hover a{
	color: white;
}

.tooltip {
	border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: white;
	color: #125385;
	text-align: center;
	padding: 5px 0;
	border:1px solid #125385;
	border-radius: 6px;
	bottom:100%;
	left:50%;
	margin-left:-60px;
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition:0.5s;
 
}
.navegacao{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
}
.navegacao a:nth-child{
	margin: 5px auto;
}
table thead th{
	background-color: #125385;
	margin:0;
	padding: 0;
	color: white;
}
table tbody tr:nth-child(even){	
	color: #0000cc;
	}
	table tr:nth-child(odd){
	background-color: #f2f2f2;	
	color: #0000cc;
	}
.tabela_acoes{
	display:flex;
	flex-direction: row;	
}

.tabela_acoes a:nth-child(n){
	margin:15px;	
}
	
.setas{
	background-color:#125385;
	margin: 10px;
	padding: 10px;
	color:white;	
}
.acao_vermelha{
	color: red;
}
.acao_amarela{
	color: green;
}
.visible{
	visibility: visible;
}
.hidden{
	visibility: hidden;
}
.page_counter{
	margin: 15px;
}
