
@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')
	;

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

@media screen and (min-width:400px){
	.center_container{
	flex-direction: column;	
	}
	.navbar{
	flex-direction: column;
	}
}

.center_container {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 85vh;
	
}

.navbar {
	display: flex;
	flex-direction: row;
	height: 10vh;;
	width:auto;
	background-color: #125385;
	justify-content: space-between;
	box-sizing: border-box;
	
	
}
.logo{
	margin: 3vh;
	color: white;
}

.navbar ul {
	font-size:large;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: center;
	
}

.navbar ul li {
	margin-left: 4vw;
	margin-bottom	: 10vh;
	text-decoration: none;	
	margin: 3vh;
}


.navbar ul li a {	
	margin-top: 30px;	
	padding: 10px;
	text-decoration: none;		
	color:white;
}
.navbar ul li a:hover{
	border:none;
	/*border-radius:15px;*/
	background-color:#125385;
	color: #f1c53f;
	text-decoration: none;	
	transition:0.5s;
}

.desktop {
	
	display:flex;
	width: auto;
	justify-content: center;
	margin: auto;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.footer {
	
	display: flex;
	background-color: #125385;
	justify-content: center;
	height:5vh;
	width: auto;
	color: white;
	padding: 10px;
	margin-bottom:0;
}