
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{template :: layout (~{:: main})}">

<body>
	<main>
		<div class="mensagem" th:if="${feedback}!=null"
			th:classappend="${#strings.equals(feedback.status,'FALHA')}?'mensagem_falha':'mensagem_sucesso'"
			id="cnt_msg">
			<p id="msg_err" th:if="${#strings.equals(feedback.status,'FALHA')}"
				th:text="${feedback.mensagem}"></p>
			<p id="msg_scs" th:if="${#strings.equals(feedback.status,'SUCESSO')}"
				th:text="${feedback.mensagem}"></p>
<!-- 			<button class="btn_msg" th:data-name="${feedback}" -->
<!-- 				onclick="updateMessage(this.getAttribute('data-name'))"> -->
<!-- 				<i class="fa-sharp fa-solid fa-xmark"></i> -->
<!-- 			</button> -->
		</div>

		<div class="page_clientes">
			<h2>Clientes</h2>
			<hr>
			<div class="teste">
				<form class="formulario" th:object="${pesquisa}"
					th:action="@{/sigec/clientes/pesquisa}" method="POST">
					<div class="addcliente_form_itens">
						<label>Nome: </label> <input type="text" th:field=*{pesquisaNome} />
					</div>
					<div class="cliente_form_itens">
						<label>CPF:</label><input th:oninput="mascara(this)" type="text"
							th:field=*{pesquisaCpf} />
					</div>
					<div class="cliente_form_itens">
						<label>Clientes por tela:</label><select
							th:classappend="${#fields.hasErrors('paginas')}?input_error:nda"
							id="paginas" th:field="*{paginas}">
							<option value=5>5</option>
							<option value=10>10</option>
							<option value=20>20</option>
						</select>
					</div>
					<div class="cliente_form_itens">
						<label></label> <input class="btn" type="submit" value="Pesquisar">
					</div>
					<div class="cliente_form_itens">
						<label></label>
						<div class="add_button">
							<a th:href="@{/sigec/cliente/adicionar}">Adicionar</a>
						</div>
					</div>


				</form>
				<!-- 				<div class="tooltip add_button "> -->
				<!-- 					<span class="tooltiptext">Adicionar Cliente</span> <a -->
				<!-- 						class="tooltip add_button " th:href="@{/sigec/cliente/adicionar}">Adicionar</a> -->
				<!-- 				</div> -->
			</div>
		</div>
		<hr>
		<div class="tabela" th:if="${lista_clientes.size() > 0}">
			<table>
				<thead>
					<tr>
						<!-- 						<th>Id</th> -->
						<th>Nome</th>
						<th>Telefone</th>
						<th>CPF</th>
						<th>RG</th>
						<th>Email</th>
						<th>----</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente, iStat : ${lista_clientes}"
						th:style="${iStat.odd}? 'font-weight:bold;'">
						<!-- 						<td th:text="${cliente.id}">id</td> -->
						<td th:text="${cliente.nome}">nome</td>
						<td th:text="${cliente.telefone}">telefone</td>
						<td th:text="${cliente.cpf}">cpf</td>
						<td th:text="${cliente.rg}">rg</td>
						<td th:text="${cliente.email}">email</td>
						<td>
							<div class="tabela_acoes">
								<a class="acao_azul tooltip" th:href="@{/sigec/cliente/visualizar(id =${cliente.id})}"><span class="tooltiptext">Visualizar</span><i class="fa-regular fa-eye"></i></a>
								<a class="tooltip" th:href="@{/sigec/cliente/editar(id =${cliente.id})}"><span class="tooltiptext">Editar</span><i
									class="fa-regular fa-pen-to-square acao_verde"> </i></a> 
								<a class="tooltip"	th:href="@{/sigec/cliente/deletar(id =${cliente.id})}"><span class="tooltiptext">Deletar</span><i
									class="fa-solid fa-trash acao_vermelha"></i></a>

							</div>
						</td>
					<tr>
				</tbody>
			</table>
			<div class="navegacao" th:if="${totalPages > 1}">

				<a class="setas" th:classappend="${currentPage==1}?hidden:visible"
					th:style="${currentPage==1}?disabled:enabled"
					th:href="@{/sigec/clientes(page=${currentPage-1},size=${pesquisa.paginas})}">
					<i class="fa-solid fa-chevron-left"></i>
				</a>


				<p class="page_counter"
					th:text="${#strings.concat(texto_pagina, currentPage)}">page</p>


				<a class="setas"
					th:classappend="${currentPage==totalPages}?hidden:visible"
					th:style="${currentPage==totalPages}?disabled:enabled"
					th:href="@{/sigec/clientes(page=${currentPage+1},size=${pesquisa.paginas})}">
					<i class="fa-solid fa-chevron-right"></i>
				</a>
			</div>
		</div>
		<div class="tabela" th:else="${lista_clientes.size() > 0}">
			<h2 th:text="${mensagem_tabela}">Sem retorno para sua pesquisa!</h2>
		</div>
		<script>
				$(document).ready(updateMessage());
	
		</script>

	</main>
</body>
</html>