
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{template :: layout (~{:: main})}">
<head>

</head>
<body>
	<main>
		<form class="add_edit_form" th:object="${cliente}"
			th:action="@{/sigec/cliente/salvar}" method="POST">

			<label class="add_edit_label">Id: </label>			
			<input type="text"	class="add_edit_input_id" th:field="*{id}" readonly="readonly">
			
			
			<label class="add_edit_label">Nome: </label> 			
			<div class="form_field">
				<input type="text" class="add_edit_input" th:classappend="${#fields.hasErrors('nome')}?input_error:nda" th:field="*{nome}"> 
				<p class="error"th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>			
			</div>
			
			<label class="add_edit_label">CPF: </label> 
			<div class="form_field">
				<input type="text"	th:oninput="mascara(this)" class="add_edit_input" th:classappend="${#fields.hasErrors('cpf')}?input_error:nda" th:field="*{cpf}">
				<p class="error"th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></p>			
			</div>
			
			<label class="add_edit_label">Data de Nascimento: </label> 
			<div class="form_field">
				<input type="date"	class="add_edit_input" th:field="*{dataNascimento}">
				<p class="error" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></p>			
			</div>
			
			<label class="add_edit_label">RG: </label> 
			<div class="form_field">
				<input type="text"	class="add_edit_input" th:classappend="${#fields.hasErrors('rg')}?input_error:nda" maxlength="15" th:field="*{rg}"> 
				<p class="error" th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}"></p>			
			</div>
			
			
			<label class="add_edit_label">E-mail: </label> 
			<div class="form_field">
				<input type="text"	class="add_edit_input" th:classappend="${#fields.hasErrors('email')}?input_error:nda" th:field="*{email}">  
				<p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>			
			</div>
			
			<label for="selecao" class="add_edit_label" th:text="${campo_raca}"></label>
			<select id="selecao" class="add_edit_input" th:field="*{raca}">
				<option th:each="race : ${racas}" th:value="${race}" th:text="${race}"></option>
			</select>
			<div class="container_botoes">
				<input class="add_edit_btn" type="submit" value="Salvar"> <a
					class="add_edit_btn_voltar" th:href="@{/sigec/clientes}">Voltar</a>
			</div>
		</form>
	</main>
</body>
</html>