<html xmlns:th="www.thymeleaf.org"
	th:replace="~{template :: layout (~{:: main})}">

<body>
	<main>
		<p class=" mensagem mensagem_erro"
			th:if="${#strings.isEmpty(mensagem_erro)}" th:text="${mensagem_erro}">Mensagem
			de erro</p>
		<p class=" mensagem mensagem_sucesso"
			th:if="${#strings.isEmpty(mensagem_sucesso)}"
			th:text="${mensagem_sucesso}">Mensagem de sucesso!</p>
		<div class="page_clientes">
			<h1>Clientes</h1>
			<hr>
			<div class="teste">
				<form class="formulario" th:object="${pesquisa}"
					th:action="@{/sigec/clientes/pesquisa}" method="POST">
					<label class="input_label">Nome:<input class="input_style"
						type="text" th:field=*{pesquisaNome} /></label> <label
						class="input_label">CPF:<input class="input_style"
						th:oninput="mascara(this)" type="text" th:field=*{pesquisaCpf} /></label>
					<label class="label_paginas">Clientes por tela:<select th:classappend="${#fields.hasErrors('paginas')}?input_error:nda"
						id="paginas" class="input_paginas" th:field="*{paginas}">
							<option value=5>5</option>
							<option value=10>10</option>
							<option value=20>20</option>
					</select> </label> 
					 <input class="btn" type="submit" value="Pesquisar">
					<div class="add_button">
						<a th:href="@{/sigec/cliente/adicionar}">Adicionar</a>
					</div>

				</form>
				<!-- 				<div class="tooltip add_button "> -->
				<!-- 					<span class="tooltiptext">Adicionar Cliente</span> <a -->
				<!-- 						class="tooltip add_button " th:href="@{/sigec/cliente/adicionar}">Adicionar</a> -->
				<!-- 				</div> -->
			</div>
		</div>
		<hr>
		<div class="tabela" th:if="${lista_clientes.size() > 0}">
			<table>
				<thead>
					<tr>
						<!-- 						<th>Id</th> -->
						<th>Nome</th>
						<th>CPF</th>
						<th>RG</th>
						<th>Email</th>
						<th>----</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente, iStat : ${lista_clientes}"
						th:style="${iStat.odd}? 'font-weight:bold;'">
						<!-- 						<td th:text="${cliente.id}">id</td> -->
						<td th:text="${cliente.nome}">nome</td>
						<td th:text="${cliente.cpf}">cpf</td>
						<td th:text="${cliente.rg}">rg</td>
						<td th:text="${cliente.email}">email</td>
						<td>
							<div class="tabela_acoes">
								<a th:href="@{/cliente/{id}(id =*{id})}"><i
									class="fa-regular fa-pen-to-square"> </i></a> <a
									th:href="@{/cliente/delete/{id}(id =*{id})}"><i
									class="fa-solid fa-trash"></i></a>
							</div>
						</td>
					<tr>
				</tbody>
			</table>
			<div class="navegacao" th:if="${totalPages > 1}">

				<a class="setas" th:classappend="${currentPage==1}?hidden:visible"
					th:style="${currentPage==1}?disabled:enabled"
					th:href="@{/sigec/clientes(page=${currentPage-1},size=${pesquisa.paginas})}">
					<i class="fa-solid fa-chevron-left"></i>
				</a>


				<p class="page_counter"
					th:text="${#strings.concat(texto_pagina, currentPage)}">page</p>


				<a class="setas"
					th:classappend="${currentPage==totalPages}?hidden:visible"
					th:style="${currentPage==totalPages}?disabled:enabled"
					th:href="@{/sigec/clientes(page=${currentPage+1},size=${pesquisa.paginas})}">
					<i class="fa-solid fa-chevron-right"></i>
				</a>
			</div>
		</div>
		<div class="tabela" th:else="${lista_clientes.size() > 0}">
			<h2 th:text="${mensagem_tabela}">Sem retorno para sua pesquisa!</h2>
		</div>

	</main>
</body>
</html>