

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{template :: layout (~{:: main})}">
<head>

</head>
<body>
	<main>
		<h1 th:text="${titulo_pagina}">Cadastro de Processos</h1>

		<hr>
		<form class="add_edit_form" th:object="${processo}"
			th:action="${processo.id}==null?@{/sigec/processo/salvar}:@{/sigec/processo/editar}"
			method="POST">

			<div class="addcliente_form_itens">
				<label>Cliente:  </label> <label th:text="${nome_cliente}" ></label>
			</div> 
			<input
					type="text" th:field="*{idCliente}" >
			<input
					type="text" th:field="*{id}" >

			<div class="addcliente_form_itens">
				<label>Processo: </label> <input type="text"
					th:classappend="${#fields.hasErrors('numero')}?input_error:nda"
					th:field="*{numero}">
				<p class="error" th:if="${#fields.hasErrors('numero')}"
					th:errors="*{numero}"></p>
			</div>

<!-- 			<div class="addcliente_form_itens"> -->
<!-- 				<label>Descrição: </label> <textarea  -->
<!-- 					th:classappend="${#fields.hasErrors('descricao')}?input_error:nda" -->
<!-- 					th:field="*{descricao}" rows="15" cols="256"/></textarea> -->
<!-- 				<p class="error" th:if="${#fields.hasErrors('descricao')}" -->
<!-- 					th:errors="*{descricao}"></p> -->

<!-- 			</div> -->


			<div class="container_2_items">
<!-- 				<div class="addcliente_form_itens"> -->
<!-- 					<label>Data Inicial: </label> <input type="date" -->
<!-- 						th:field="*{dataCadastro}"> -->
<!-- 					<p class="error" th:if="${#fields.hasErrors('dataCadastro')}" -->
<!-- 						th:errors="dataCadastro"></p> -->
<!-- 				</div> -->

<!-- 				<div class="addcliente_form_itens"> -->
<!-- 					<label>Data Final: </label> <input type="date" -->
<!-- 						th:field="*{dataConclusao}"> -->
<!-- 					<p class="error" th:if="${#fields.hasErrors('dataConclusao')}" -->
<!-- 						th:errors="dataConclusao"></p> -->

<!-- 				</div> -->

				<div class="addcliente_form_itens">
					<label for="selecao" class="add_edit_label" th:text="Status"></label>
					<select id="selecao" class="add_edit_input" th:field="*{status}">
						<option th:each="status : ${lista_status}" th:value="${status}"
							th:text="${status}">rr</option>
					</select>
				</div>

				<div class="addcliente_form_itens">
					<label for="selecaoTipo" class="add_edit_label" th:text="Tipo"></label>
					<select id="selecaoTipo" class="add_edit_input" th:field="*{tipo}">
						<option th:each="tipo : ${lista_tipos}" th:value="${tipo}"
							th:text="${tipo}"></option>
					</select>
				</div>
			</div>


			<div class="container_botoes">
				<input class="add_edit_btn" type="submit" value="Salvar"> <a
					class="add_edit_btn_voltar" th:href="@{/sigec/clientes}">Voltar</a>
			</div>
		</form>
	</main>
</body>
</html>