<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:fragment="layout (conteudo)">
<head>
	<meta charset= "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/home.css}">
	<link rel="stylesheet" th:href="@{/clientes.css}">
	<link rel="stylesheet" th:href="@{/add_edit_cliente.css}">
	<script type="text/javascript" th:src="@{/maskinput.js}" defer="defer"></script>	
	<title>Sistema de Gestão de Clientes - Página Inicial</title>
</head>
<body>
	<div class="page">
		<div class="header">
			<p>Usuario logado
			<p />
		</div>
		<div class="center_container">
			<div class="sidebar">
				<ul>
					<li><a th:href="@{/sigec/dashboard}">Dashboard</a></li>
					<li><a th:href="@{/sigec/clientes}">Clientes</a></li>
					<li><a th:href="@{/sigec/processos}">Processos</a></li>
					<li><a th:href="@{/sigec/pagamentos}">Pagamentos</a></li>
				</ul>
			</div>

			<div class="desktop" th:replace="${conteudo}">
				<h2>desktop</h2>
			</div>
		</div>
		<div class="footer">@rvbraga soluções em T.I</div>
	</div>
	
</body>
</html>