<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:fragment="layout (conteudo)">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/home.css}">
	<link rel="stylesheet" th:href="@{/clientes.css}">
	<link rel="stylesheet" th:href="@{/add_edit_cliente.css}">
	<link rel="stylesheet" th:href="@{/agenda.css}">
	<script type="text/javascript" th:src="@{/maskinput.js}" defer="defer"></script>	
	<script type="text/javascript" th:src="@{/cntl_msg_erro.js}" defer="defer"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer="defer"></script>

	<link th:href="@{/fontawesome/css/fontawesome.css}" rel="stylesheet">
  <link th:href="@{/fontawesome/css/brands.css}" rel="stylesheet">
  <link th:href="@{/fontawesome/css/solid.css}" rel="stylesheet">
	<title>Sistema de Gestão de Clientes - Página Inicial</title>
	<meta charset="UTF-8">
</head>
<body onload="update_messages()">	
		<div class="navbar">
		<div class="logo"> <p>Logomarca</p></div>
				<ul>
					<li><a th:href="@{/sigec/home}">Início</a></li>
					<li><a th:href="@{/sigec/resumo}">Resumos</a></li>
					<li><a th:href="@{/sigec/clientes}">Clientes</a></li>
					<li><a th:href="@{/sigec/processos}">Processos</a></li>
					<li><a th:href="@{/sigec/pagamentos}">Pagamentos</a></li>
					<li><a th:href="@{/sigec/agenda}">Agenda</a></li>
				</ul>
			</div>		
		<div class="center_container">
			<div class="desktop" th:replace="${conteudo}">
				<h2>desktop</h2>
			</div>
		</div>
		<div class="footer">@rvbraga soluções em T.I</div>
	
	
</body>
</html>