<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{template :: layout (~{:: main})}">

<body>
	<main>
		<h2 th:text="${cliente.nome}"></h2>
		<hr>
		<div class="dados_cliente">
			<div class="container_visualizacao">
				<h4>RG:</h4>
				<p th:text="${cliente.rg}"></p>
				<h4>CPF:</h4>
				<p th:text="${cliente.cpf}"></p>
			</div>
			<div class="container_visualizacao">
				<h4>Telefone:</h4>
				<p th:text="${cliente.telefone}"></p>
				<h4>E-mail:</h4>
				<p th:text="${cliente.email}"></p>
			</div>
			<div class="container_visualizacao">
				<h4>Raça:</h4>
				<p th:text="${cliente.raca}"></p>
				<h4>Gênero:</h4>
				<p th:text="${cliente.genero}"></p>
			</div>
			<div class="container_visualizacao">
				<h4>Processos:</h4>
				<div th:if="${processos.isEmpty()}">
					<p>Não existem processos para o cliente</p>
				</div>
				<div th:each="processo, iStat : ${processos}">
					<p th:text="${processo.numero}"></p>
					<p th:text="${processo.tipo}"></p>
					<p th:text="${processo.dataCadastro}"></p>
					<p th:text="${processo.status}"></p>
					<p th:text="${processo.dataConclusao}"></p>
				</div>
			</div>
		</div>
		<a th:href="@{/sigec/clientes}">voltar</a> <a
			th:href="@{/sigec/cliente/editar(id =${cliente.id})}">Editar</a>
	</main>
</body>
</html>