<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{template :: layout (~{:: main})}">

<body>
	<main>
		<h2 th:text="${cliente.nome}"></h2>
		<hr>
		<div class="dados_cliente">
			<div class="container_visualizacao">
				<h4>RG:</h4>
				<p th:text="${cliente.rg}"></p>
				<h4>CPF:</h4>
				<p th:text="${cliente.cpf}"></p>
			</div>
			<div class="container_visualizacao">
				<h4>Telefone:</h4>
				<p th:text="${cliente.telefone}"></p>
				<h4>E-mail:</h4>
				<p th:text="${cliente.email}"></p>
			</div>
			
			
				
				<div th:if="${processos.isEmpty()}">
					<p>Não existem processos para o cliente</p>
				</div>
							
			
		</div>
		<table th:unless="${processos.isEmpty()}" >
					<thead>
						<tr>
							<th>Número</th>
							<th>Tipo</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="processo, iStat : ${processos}">
							<td th:text="${processo.numero}">a</td>
							<td th:text="${processo.tipo}">b</td>
							<td th:text="${processo.status}">c</td>
						</tr>
					</tbody>
					
				</table>	
		<div class="navegacao">
			<div class="back_button">
				<a th:href="@{/sigec/clientes}">voltar</a>
			</div>
			<div class="add_button">
				<a th:href="@{/sigec/cliente/editar(id =${cliente.id})}">Editar</a>
			</div>
		</div>
	</main>
</body>
</html>