@charset "UTF-8";

@font-face {
	font-family: MyFont;
	src: url("../fonts/monotype-corsiva-bold.otf")
}

html {
	font-family: "Times New Roman", Times, serif;
	font-size: 14pt;

}

.folha {
	background-color: #ddd;
	padding: 0.5em;
}

.a4_vertical {
	width: 793px;
	height: 1122px;
}

.a4_horizontal {
	width: 1122px;
	height: 793px;
}

.conteudo {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 4px;
}

.com_borda {
	border: 1px solid black;
}

.borda_top_curva {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.borda_bottom_curva {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.logo {
	border: 3px solid black;
	border-radius: 80px;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

h1,
h2 {
	margin: 0 auto;
}

.rodape {
	bottom: 0px;
	line-height:0.5pt;
}

.font-8 {
	font-size: 8px;
}

.font-10 {
	font-size: 10px;
}

.font-20 {
	font-size: 20px;
}

.font-30 {
	font-size: 30px;
}

.assinatura {
	margin: 0 auto;
}

.data {
	margin: 0 auto;
}

.titulo {
	font-family: MyFont;
	font-size: 72px;
	margin: 0;
	font-style: italic;
}

.subtitulo {
	font-family: MyFont;
	margin-left: 5px;
	font-size: 36px;
	;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 0;

}

span * {
	font-size: 14pt;
}

@media print {
	body * {
		visibility: hidden;
		font-family: "Times New Roman", Times, serif;
		font-size: 16px;
		
	}
	h1{
	margin-top:0;}
	span * {
		font-size: 18px;
	}

	.printable,
	.printable * {
		visibility: visible;
		/*		ont-family: "Recursive", sans-serif;*/
	}

	.header {
		display: flex;				
		justify-content: center;
	}
	.titulo2{
	font-size: 28px;
	}

	.paragrafo {
	    margin-top:0;
		font-size: 16px;
		text-align: justify;
	}
	.rodape {
		margin-top: 10px;
		font-size: 12px;
		padding: 0px 3px;
	}

	.titulo {
		font-family: MyFont;
		font-size: 72px;
		margin: 0;
		font-style: italic;
		line-height:0.5pt;
	}

	.subtitulo {
		font-family: MyFont;
		margin-left: 5px;
		font-size: 36pt;
		;
	}


}