@charset "UTF-8";


html {
	font-size: 12pt;
}

.folha {
	background-color: #ddd;
	padding: 0.5em;
}

.a4_vertical {
	width: 793px;
	height: 1122px;
}

.a4_horizontal {
	width: 1122px;
	height: 793px;
}

.conteudo {
	display: flex;
	flex-direction: column;
	margin: 15px;
	padding: 5px;
}
.paragrafo,.rodape{
		font-size: 0.5em;
		line-height: 0.1em;
	}



h1,
h2 {
	margin: 0 auto;
}

.rodape {
	bottom: 0px;
	line-height: 2px;
}

.font-8 {
	font-size: 8px;
}

.font-10 {
	font-size: 10px;
}

.font-20 {
	font-size: 20px;
}

.font-30 {
	font-size: 30px;
}

.assinatura {
	margin: 0 auto;
}

.data {
	margin: 0 auto;
}

@media print {
	body * {
		visibility: hidden;
		font-family:"Times New Roman", Times, serif;
	}

	.printable,
	.printable * {
		visibility: visible;
	}

	.header {
		font-style:italic;
	}

	.paragrafo,.rodape{
		font-size: 0.5em;
		line-height: 0.1em;
	}	
	

}